section.projects.alternate
  .container
    header.header.header--flex
      h2.header__title Projects

      a.header__link.is-mute(href="https://github.com/e200" target="_blank" rel="noopen noreffer" title="See all projects") See all

    .row
      each item, index in projects.items
        if (index < 4)
          .projects__item
            .card.horizontal
              .card__body
                header.card__header
                  a.card__header__link(href=item.address target="_blank" rel="noopen noreffer" title=item.name)
                    h2.card__header__title=item.name
                  p.card__header__description=item.description
                footer.card__footer
                  a.card__footer__link(href=item.address target="_blank" rel="noopen noreffer" title=item.name) More details